header{
    background-color: #224f99;
    color:white;
    height: 150px;
    /* evita aumentar a largura da caixa */
}
nav{
    background-color: gray;
    display: flex;
    align-items: center
}
main{
    background-color:#ededed;
    height: 500px;
}
footer{
    height: 150px;
}
*{
    margin:0 auto
}
header, nav, main, footer{
    width: 98%;
    padding: 10px 20px;
    box-sizing: border-box
}

nav a{
  text-align: center;
  color:white;
  text-decoration: none;
  padding:5px 20px   
}

nav a:hover{
    font-weight: bold;
}

main {
    background-color: #ededed;
}
main iframe {
    width:100%;
    height: 100%;
    border:0;
}

header a {
    color: white;
    text-decoration: none;
}


